<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minxuan.dao.CpDao">
    <select id="getCp" parameterType="java.lang.Integer" resultType="cp" >
        SELECT
        id as id,
        Code as code,
        cpName AS cpName
        FROM
        t_cp
        WHERE
        id = #{id}
    </select>


</mapper>